<% provide(:title, 'Owl Be Back Bookstore - Get your read on') %>

<div class="banner1"></div>

<br><br>

<div class="header-text">
    <span class="mytext1"><h1 style="color:#00cccc">Welcome to <b>Owl Be Back Bookstore</b>!</h1></span>
</div>
<hr>
<br> <br>
<main role="main" class="container">

  <p><b>This website was created by:</b></p>
  <p>Casey Satran, Phoung Do, Xia Fang, John Suleiman</p>
  <p><%=link_to 'Subscribtions', subscriptions_path %></p>
  <p><%=link_to 'Buy Subscribtion', subscriptions_buy_path %></p>

</main><!-- /.container -->
