<p>Are sure you want to cancel your current subscription.You will not be refund for this action.You will have to repurchase your subscription if you would like to subscribe </p>
<p><%= link_to 'Cancel Subscription', subscription_path(@subscription), method: :delete %> </p>